:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  // overflow: hidden;
  position: relative;
  overflow-x: hidden;

  height: 100%;
  width: 100%;

}

us-material-form {
  padding: 20px;
}
